<!DOCTYPE html>
<html>
<head>
    <title>Add Expense</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add Expense</h1>
    <form method="POST">
        <p>Title: <input type="text" name="title"></p>
        <p>Amount: <input type="text" name="amount"></p>
        <p>Date: <input type="date" name="date"></p>
        <p>Category:
            <select name="category">
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </p>
        <button type="submit">Save</button>
    </form>
    <a href="/">Back</a>
</body>
</html>
