{% extends "layouts/auth.html" %}
{% from "partials/_forms.html" import field, checkbox_field %}
{% block title %}Sign in - Finance Tracker{% endblock %}
{% block auth_title %}Welcome back{% endblock %}
{% block auth_subtitle %}Sign in with your password. We will then send a six digit code to finish.{% endblock %}
{% block auth_body %}
  <form method="post" class="form" novalidate>
    {{ form.hidden_tag() }}
    {{ field(form.email, autofocus=true, autocomplete="email") }}
    {{ field(form.password, autocomplete="current-password") }}
    {{ checkbox_field(form.remember_me) }}
    {{ form.submit(class="btn btn--block") }}
  </form>
{% endblock %}
{% block auth_foot %}
  New here? <a href="{{ url_for('auth.register') }}">Create an account</a>
{% endblock %}
