{% extends "layouts/auth.html" %}
{% from "partials/_forms.html" import field %}
{% block title %}Create account - Finance Tracker{% endblock %}
{% block auth_title %}Create your account{% endblock %}
{% block auth_subtitle %}It takes less than a minute.{% endblock %}
{% block auth_body %}
  <form method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ field(form.name, autofocus=True, autocomplete="name") }}
    {{ field(form.email, autocomplete="email") }}
    {{ field(form.password, autocomplete="new-password", extra_class="js-password") }}
    {{ field(form.confirm, autocomplete="new-password") }}
    {{ form.submit(class="btn btn--primary btn--block") }}
  </form>
{% endblock %}
{% block auth_foot %}
  Already registered? <a href="{{ url_for('auth.login') }}">Sign in</a>
{% endblock %}
