{% extends "base.html" %}
{% block content %}
<h1>Create an account</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>{{ form.name.label }} {{ form.name() }}</p>
    {% for error in form.name.errors %}<span style="color: red;">{{ error }}</span>{% endfor %}
    <p>{{ form.email.label }} {{ form.email() }}</p>
    {% for error in form.email.errors %}<span style="color: red;">{{ error }}</span>{% endfor %}
    <p>{{ form.password.label }} {{ form.password() }}</p>
    {% for error in form.password.errors %}<span style="color: red;">{{ error }}</span>{% endfor %}
    <p>{{ form.confirm.label }} {{ form.confirm() }}</p>
    {% for error in form.confirm.errors %}<span style="color: red;">{{ error }}</span>{% endfor %}
    {{ form.submit() }}
</form>
<a href="{{ url_for('auth.login') }}">I already have an account</a>
{% endblock %}
